# _md5hash=b89d90b9e81f36137bf1be61226839ab
# _version=5
# Dataplaneapi managed File
# changing file directly can cause a conflict if dataplaneapi is running

global
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  maxconn 4000
  pidfile /var/run/haproxy.pid
  stats socket /var/run/haproxy.sock mode 660 level admin
  ssl-server-verify none

userlist controller
  user admin insecure-password lr6jdlqL

frontend proxy
  mode tcp
  bind *:443
  option tcplog
  tcp-request inspect-delay 5s
  tcp-request content capture req.ssl_sni len 100
  tcp-request content accept if { req.ssl_hello_type 1 }
  use_backend %[req.ssl_sni,lower]

backend foo.cluster.local
  balance roundrobin
  http-check send meth GET uri /heath hdr Host foo.cluster.local

backend foobar.cluster.local
  balance roundrobin
  http-check send meth GET uri /health hdr Host foobar.cluster.local

backend myservers
  mode http
  balance roundrobin
  default-server check alpn h2 check-alpn h2 maxconn 30 weight 100
