[Unit]
Description=Balanced Process
After=syslog.target network.target

[Service]
User=haproxy
Group=haproxy
Type=forking
ExecStart=/usr/local/bin/balanced -c /opt/balanced/balanced.toml
KillMode=control-group
PIDFile=/var/run/balanced.pid
SyslogIdentifier=balanced
Restart=on-failure

[Install]
WantedBy=multi-user.target
