[kubernetes]
kube-config = "path to config" # omit to use default or config defined in $KUBECONFIG
watch-namespaces = ["..."] # omit to watch all namespaces
exclude-namespaces = ["..."]
service-annotation-key-prefix = "k8s.justcompile.io" # annotation key prefix
service-annotation-load-balancer-id = "foobar-external"

[loadbalancer]
config-dir = "" # dir to store load balancer configuration
reload-cmd = "systemctl reload haproxy" # command to reload loadbalancer configuration
template = """
backend {{.Domain}}
  balance roundrobin
  {{range .Servers -}}
  server {{.Id}} {{.IPAddress}}:{{.Port}} check check-ssl
  {{end}}
"""

[dns]
enabled = true|false
use-public-address = true|false

[cloud.aws]
route53-hosted-zone-id = ""
route53-record-type = "A"
route53-ttl = 60
